*,
*:after,
*:before 
  margin: 0
  padding: 0
  box-sizing: inherit

body, html
  box-sizing: border-box
  // width: 100%
  // height: 100%
  // background: red
// #root
//   width: 100%
//   height: 100%
