.card_container
  background-position: center
  background-size: cov

.card-info-container
  background-color: white
  height: 12%

.card-title
  font-size: 32px
  height: 32px

.icon
  padding-top: 0.5rem

.container-buttons
  position: absolute
  bottom: 30px !important
  left: 0
  width: 100%
  max-width: 100%
  height: 60px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  margin: 0
  padding: 0
  overflow: hidden
  box-sizing: border-box

.choose-buttons
  height: 60px
  background-color: #fff
  display: flex
  justify-content: center
  align-items: center
  width: 60px
  border-radius: 50%