//Declare variable for colors
$red-color: #f00;

//Styles for the container
//.nav
//  margin-top: 65px

.nav-item
  width: 50%

.chat-container
  margin-top: 75px

.chat-row
  height: calc(100vh - 205px)
  overflow: auto
